<nav class="navbar">
    <div class="logo">MySite</div>
    <div class="nav_text">
        <a href="/user/" class="h">Home</a>
        <a href="/user/leaderbord" class="h">Leaderboard</a>
        <span class="l">
            <a href="/user/login" class="h">Login</a>
            <a href="/user/signup" class="h">Signup</a>
        </span>
        
    </div>
      
    
    
  </nav>